<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>{{title}} | {{type}}</title>
    <script src="./index.js"></script>
</head>
<body>
    <div class="header">
        <div class="logo" width="200px">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Vector_Logo_black_red_RGB.svg/1280px-Vector_Logo_black_red_RGB.svg.png" alt="logo" height="75px" >
        </div>
        <div class="current-page">
            <h1>{{type}}</h1>
        </div>
        <div class="title">
            <h1>{{title}}</h1>
        </div>
        <div class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
         
    </div>
    <div class="main">
        <div>
            <h2>Hvordan bruker man github?</h2>
            <div>
                <p>Github er et versjonerings program man kan bruke for holde styr over forskjellige versjoner av koden din. <br>
                    Man kan også bruke det om man skal sammarbeide på et prosjekt. Kanskje den enkleste måten å bruke Github på <br>
                    er å laste ned og bruke Github Desktop. Det er et program som lar deg laste opp og laste ned filer fra Github.</p>
                <p>Et godt eksempel på hvordan man kan sammarbeide med Github er <a href="https://github.com/CheesyPhoenix/BetterSchool">BetterSchool</a> prosjektet som Sindre har drevet med.</p>
                <p>Her er noen gode resurser på hvordan bruke Github:</p>
                <a href="https://docs.github.com/en/desktop/installing-and-configuring-github-desktop/overview/getting-started-with-github-desktop">https://docs.github.com/en/desktop/installing-and-configuring-github-desktop/overview/getting-started-with-github-desktop</a>
            </div>
        </div>
        <div>
            <h2>Er det lurt å fortale PCen ulåst?</h2>
            <div>
                <p>Nei, dette er en av de værste tingene du kan gjøre i ditt liv. Om du glemmer å låse PCen er det stor sansynnlighet<br>
                for at du blir offer for litt trolling. Dette kan inkludere, men ikke begrenset til:<br>
                Skru på High contrast mode og sette alle fargene til samme.<br>
                Screenshote desktopen for å deretter snu den slik at du ikke legger merke til det.<br>
                Om du har trådløs mus kan du også oppleve at andre stjeler batteriet til den.</p>
            </div>
        </div>
        <div>
            <h2>Hvor kan jeg lære om javascript?</h2>
            <div>
                <p>En av de mest informative nettsidene når det gjelder javascript er w3shools. De har forklaringer og kode<br>
                eksempeler på det meste. Hvis du ikke finner det du lurer på på w3shools kan du<br>
                enten spørre noen på 2ITK eller søke andre steder på nettet.<br>
                <br>
                Her er noen lenker:<br>
                <a href="https://www.w3schools.com/js/default.asp">https://www.w3schools.com/js/default.asp</a><br>
                </p>
            </div>
        </div>
        <div>
            <h1>Test info</h1>
            <p>{{info}}</p>
        </div>
    </div>
    
</body>
</html>